<%= render 'shops/error', shop: @shop %>

<section class="hero is-black is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        SHOP POST
      </h1>
    </div>
  </div>
</section>
<div class="form">
  <%= render 'shops/form', shop: @shop %>
</div>