<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 error-form text-center" style="font-size: 20px; border-radius: 15px;">
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが確認されました。<br />
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>