<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render "layouts/sidebar" %>
    </div>
    <div class="col-sm-9">
      <div class="row justify-content-center mt-5">
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <% if notifications.exists? %>
          <%= render @notifications %>
          <%= paginate @notifications %>
        <% else %>
          通知はないでごわす
        <% end %>
      </div>
    </div>
  </div>
</div>