<div class="about scrollbox1">
  <div class="container text-center">
    <%= render "layouts/about_sidebar" %>
    <h2>History</h2>
    <h5>アラビア人のカルディという山羊飼いはエチオピアの草原で放牧生活をしていました。</h5>
    <h5>ある日、自分の山羊があたりに茂っている木になった真っ赤な実を食べて楽しそうに飛んだり跳ねたりしていました。</h5>
    <h5>そこで調べてみると、甘ずっぱいおいしさに加えて、眠気がとれ爽やかな気分に。</h5>
    <h5>それ以来、魔法の豆として密かに愛用されるようになったということです。</h5>
    <h5>今では当たり前のように飲まれているコーヒーですが、飲み方も多種多様になっています。</h5>
    <h5>一般的に家庭で飲まれているものは、ドリップコーヒーやインスタントコーヒーですが、</h5>
    <h5 style="margin-bottom: 80px;">注目して頂きたい事がコーヒーの「味」です。</h5>
  </div>
</div>
<div class="about parallax-bg img-1"></div>
<div class="about scrollbox2">
  <div class="container text-center">
    <h2>Overview</h2>
    <h5>コーヒーには「甘み」「酸味」「塩見」「苦味」「うま味」という五原味があります。</h5>
    <h5>当サイトでは日本人の嗜好にあった、「重さ」「苦味」「風味」「甘み」「酸味」という表し方にしています。</h5>
    <h5>普段、お仕事の休憩中や家事の合間に何気なく飲んでるコーヒーですが、</h5>
    <h5 style="margin-bottom: 80px;">ホッと一息ついた時に、少し味わってみては如何でしょうか？</h5>
  </div>
</div>
<div class="about parallax-bg img-2"></div>
<div class="about scrollbox3">
  <div class="container text-center">
    <h2>Let's get started</h2>
    <h5>好きなものをシェアすることで繋がっていた趣味仲間。</h5>
    <h5>現在、会える機会が減ってしまったことで大切な時間が無くなってしまうのはあまりに切ないですよね。</h5>
    <h5>キッカケを作るため、美味しいと思ったコーヒーを共有しましょう！</h5><br />
    <h5>会員登録をしなくても  <%= link_to 'Guest', users_guest_sign_in_path, class: "btn-lg btn-light", method: :post %>  としてログインができますので、是非ご利用下さい。</h5>
  </div>
</div>
<div class="row justify-content-center my-5">
  <div class="col-1">
    <%= link_to "SignUp", new_user_registration_path, class: "btn btn-outline-light" %>
  </div>
  <div class="col-1">
    <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-light" %>
  </div>
</div>
