<div class="row">
  <div class="col-3">
    <%= render "layouts/sidebar" %>
  </div>
  <div class="col-7">
    <h1>アバウト</h1>
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%#= image_tag ("slide1.jpg") %>
        </div>
        <div class="carousel-item">
          <%#= image_tag ("slide2.jpg") %>
        </div>
        <div class="carousel-item">
          <%#= image_tag ("slide3.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>