<div class="container" id="slider">
  <div class="row bg-slider" style="margin-right: 50px; padding-top: 50px;">
    <div class="col-5">
      <%= render "layouts/top_sidebar" %>
    </div>
    <div class="top-font col-7 text-white" style="padding: 200px 0 0 200px;">
      <div class="row justify-content-center">
        <h1 style="font-family: 'Kaushan Script', cursive;">Please Introduce</h1>
      </div>
      <div class="row justify-content-center">
        <h1 style="font-family: 'Kaushan Script', cursive;">Your Favorite Coffee.</h1>
      </div>
    </div>
  </div>
</div>



