<div class="container" id="slider" data-turbolinks="false">
  <div class="row bg-slider" style="margin-right: 50px; padding-top: 50px;">
    <div class="col-sm-5">
      <%= render "layouts/top_sidebar" %>
    </div>
    <div class="top-font col-7" style="padding-top: 100px;">
      <div class="row">
        <div class="col-sm text-center">
          <h1 style="font-family: 'Kaushan Script', cursive;">Please Introduce</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm text-center"> 
          <h1 style="font-family: 'Kaushan Script', cursive;">Your Favorite Coffee.</h1>
        </div>
      </div>
    </div>
  </div>
</div>



