<div class="row bg-slider">
  <div class="col-3" style="padding: 0 143px 230px 0; margin-bottom: 100px;">
    <%= render "layouts/sidebar" %>
  </div>
  <div class="top-font col-7 text-white" style="padding: 200px 200px 200px 0;">
    <div class="row justify-content-center">
      <h1 style="font-family: 'Kaushan Script', cursive;">Please Introduce</h1>
    </div>
    <div class="row justify-content-center">
      <h1 style="font-family: 'Kaushan Script', cursive;">Your Favorite Coffee.</h1>
    </div>
    <div class="row justify-content-end" style="padding-top: 200px;">
      <div style="padding-right: 50px;"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light" %></div>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</div>


