/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.sidebar_fixed {
  position: fixed;
  color: white;
}

.profile_image {
  position: relative;
  border-radius: 50%;
}

body {
	background-image: image-url("back1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: Hiragino Mincho Pro;
  color: white;
}

.field_with_errors {
  display: contents;
}

/*kaminariのデザイン*/
.pagination>li>a {
  border: none;
  background: none;
  color: white;
}
.pagination>.active>a {
  background-color: #ff5400a8!important; /*デフォルトに点数負けしているため!importantで最優先*/
}
.pagination>li>a:hover {
  color: black;
}

.error-form {
  background-image: image-url("error.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}