// Place all the styles related to the beans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fadeIn_bean {
  opacity: 0;
  transition: 2s;
}
.fadeIn_bean.is-show {
  opacity: 1;
}

//デフォルトを削除
.item_image_btn{
    display: none;
}
//idとjqueryを追記
#img_field {
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  color: white;
  opacity: 0.5;
}

#img_field:hover {
  color: white;
  opacity: 1;
}

.btn-sm.btn-danger:hover {
  background-color: red;
  opacity: 0.5;
}

.prev-bean {
  transform: rotateX( 720deg ) ;
  transition: 1.0s;

}
.prev-bean:hover {
  opacity: 0.6;
  transition: 1.0s;
  transform: rotateX( 360deg ) ;
}

.price input[type="number"]::-webkit-outer-spin-button,
.price input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}