// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fadeIn_favorite_1 {
  opacity: 0;
  // transform: translate(-50%, 0);
  transition: 1s;
}
.fadeIn_favorite_1.is-show {
  // transform: translate(0, 0);
  opacity: 1;
}


.fadeIn_favorite_2 {
  opacity: 0;
  // transform: translate(-50%, 0);
  transition: 2s;
}
.fadeIn_favorite_2.is-show {
  // transform: translate(0, 0);
  opacity: 1;
}

.fadeIn_favorite_3 {
  opacity: 0;
  // transform: translate(-50%, 0);
  transition: 3s;
}
.fadeIn_favorite_3.is-show {
  // transform: translate(0, 0);
  opacity: 1;
}

.fadeIn_favorite_4 {
  opacity: 0;
  // transform: translate(-50%, 0);
  transition: 4s;
}
.fadeIn_favorite_4.is-show {
  // transform: translate(0, 0);
  opacity: 1;
}
